# .coveragerc to control coverage.py
[run]
branch = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # No need to test __repr__
    def __repr__

    # Python 2/3 compatibility
    except ImportError
