[MESSAGES CONTROL]

# locally disable too-many-lines is only possible if the disable statement is
# put into the first line, which is not good practice
# see https://github.com/SoCo/SoCo/issues/127
disable=too-many-lines
