appdirs==1.4.4
black >= 22.12.0; python_version >= "3.7"
coveralls==3.3.1
flake8==4.0.1
graphviz==0.19.1
ifaddr==0.1.7
importlib-metadata<5; python_version == "3.7"
pylint==2.13.9; python_version == "3.6"
pylint==2.14.1; python_version >= "3.7"
pytest==7.0.1; python_version == "3.6"
pytest==7.1.2; python_version >= "3.7"
pytest-cov==3.0.0
requests==2.27.1; python_version == "3.6"
requests==2.28.0; python_version >= "3.7"
requests-mock==1.9.3
sphinx==4.5.0
sphinx-rtd-theme==1.0.0
xmltodict==0.12.0